body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.book-table {
  margin: 5px;
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-collapse: collapse;
}

.table-head {
  .table-heading-row {
    border-bottom: 1px solid black;
  }
}

.book-table > td,
th,
tr {
  padding: 10px;
  margin: 10px;
}

td {
  padding: 5px;
}

.btn {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
}

.btn:focus {
  border: 4px solid blue;
}

.input {
  padding: 10px;
}

.font-bold {
  font-weight: bold;
}

.pagination-btn {
  display: inline;
  padding: 10px;
  cursor: pointer;
}

.pagination-container {
  margin: 10px;
  padding: 10px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5px;
  padding-left: 0;
}

.table-style {
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .book-table {
    width: 80%;
  }
  .pagination-container {
    margin: auto;
    width: 50%;
  }
}
